img {
	max-width: 100%;
	height: auto;
  }
  body {
	font-family: "Oswald";
	font-size: 16px;
	color: #707070;
	font-weight: 300;
  }
  h2 {
	font-weight: 700;
	font-size: 30px;
	color: #000000;
	text-transform: uppercase;
  }
  h5 {
	color: #515151;
	text-transform: uppercase;
  }
  hr {
	height: 3px;
	width: 170px;
	background: #ffe600;
  }
  .header {
	background: url("../img/howwedobg.jpg") center center;
	height: 100vh;
	background-size: cover;
	position: relative;
  }
  .menu-top {
	background: rgba(19, 19, 22, 0.3);
  }
  .menu-top .nav-link {
	font-size: 14px;
	font-weight: 700;
	color: #ffffff !important;
	text-transform: uppercase;
	
  }
  .menu-top .nav-link::after {
	  content: '';
	  display: block;
	  height: 3px;
	  width: 0;
	  background: #ffe600;
	  transition: 1s;
	  margin: auto;
  }
  .menu-top .nav-link:hover::after {
	  width: 100%;
	  
  }
  .menu-top .nav-link:hover {
	color: #ffe600 !important;
  }
  .menu-top .nav-item {
	list-style: square;
	color: #ffe600;
	margin: 0 12px;
  }
  .menu-top .nav-item:first-child {
	list-style: none;
  }
  .title h1 {
	text-transform: uppercase;
	color: #ffffff;
	font-size: 65px;
	font-weight: 700;
  }
  .title .btn {
	background: #ffe600;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: #000000;
	border-radius: 0;
	padding: 12px 50px;
  }
  .title {
	position: absolute;
	top: 42%;
	width: 100%;
	text-align: center;
  }
  .services {
	padding-top: 60px;
	padding-bottom: 70px;
  }
  .services .circle {
	width: 105px;
	height: 105px;
	background: #ffe600;
	color: #ffffff;
	border-radius: 50%;
	margin: auto;
	border: 1px solid transparent;
  }
  .services .circle .fa {
	font-size: 40px;
	line-height: 105px;
  }
  .services .circle:hover {
	background: #ffffff;
	border: 1px solid #000;
	color: #ffe600; 
  }
  .doit {
	padding-top: 65px;
	padding-bottom: 90px;
	background: url('../img/howwedobg.jpg') center center;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
  }
  .doit img {
	transition: transform 2s;
  }
  .doit img:hover {
	transform: rotate(360deg);
  }
  .doit h2 {
	  color: #ffe600;
  }
  
  .doit img {
	  margin-bottom: 30px;
  }
  
  .doit .row:nth-child(2) {
	  margin-top: 60px;
  }
  
  .doit h4 { 
	  margin-bottom: 20px;
  }
  .works {
	  padding: 70px 0;
  }
  .works .nav {
	  justify-content: center;
	  margin-bottom: 50px;
	  margin-top: 50px;
  }
  .works .nav-link {
	  color: #515151;
	  font-size: 16px;
	  font-weight: 400;
	  text-transform: uppercase;
  }
  .works .nav-link.active {
	  color: #ffe600;
  }
  .works .nav-link::after {
	  content: '';
	  display: inline-block;
	  width: 5px;
	  height: 5px;
	  background: #ffe600;
	  transform: translate(15px,-5px);
  }
  @media (max-width: 991px) {
	.menu-top .nav-item:first-child {
	  list-style: square;
	}
  }
  @media (max-width: 767px) {
	.title h1 {
	  font-size: 45px;
	}
	.title .btn {
	  font-size: 15px;
	  padding: 10px 35px;
	}
  }
  @media (max-width: 500px) {
	.title h1 {
	  font-size: 30px;
	}
	.title .btn {
	  font-size: 12px;
	  padding: 10px 27px;
	}
	.title {
	  top: 50%;
	}
  }
  @media (max-width: 350px) {
	.title {
	  top: 55%;
	}
  }
  